/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-c {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 101px;
  height: 102px;
}
.icon-d {
  background-image: url(sprite.png);
  background-position: -99px -112px;
  width: 74px;
  height: 97px;
}
.icon-e {
  background-image: url(sprite.png);
  background-position: -111px 0px;
  width: 99px;
  height: 97px;
}
.icon-f {
  background-image: url(sprite.png);
  background-position: 0px -112px;
  width: 89px;
  height: 97px;
}
